* {
   margin-left: 10px;  /*this is the universal selector which make entire page 
   starts margin 10px from the left*/
}
body { 
    background-color: #292525;
    font-family: system-ui; /*here in this section we define all font-family to be system-ui  */
}
#header {
    background: rgb(66, 66, 66);
    color: white;
    margin-top: 30px;
    padding-left: 5px;
    width : 100%;
    height: 70px;
    position: fixed;
}
footer, li{
    background: rgb(65, 61, 61);
    color: white;
    margin-top: 20px;
    padding: auto;
    text-align: center;
}
img {
    width: 100px;
    height: 100px;
    padding-top: 105px;
    position: static;
}
h3 {             /*this is one of element selector which select the all h3's and 
    apply a text-decoration underlined and so on*/
    text-decoration: underline;
    color: rgb(12, 54, 82);
    margin-left: 10px;
}
input {
    margin: 5px 0px 5px 5px;
}
.contact {
    background-color: rgb(161, 161, 190);
    border: 2px solid black;
   
}
button {
    margin: 0 0 0 5px;
}
a {
    color: rgb(62, 226, 12);
    text-decoration: none;
}
li {
        display: inline;
        margin-right: 20px;
}
ul {
    text-align: right;
}
#footer-list {
    display: inline;
    text-align: center;
}
label{
    display: block;
    margin-top: 5px;
}
input:valid {
   
    border: none;
    outline:1px solid rgb(14, 226, 156); // define the color of the border valid inputs 
    accent-color: rgb(255, 51, 0); // define the color of the checkbox when it is checked
    }
input:invalid {
      border: none;
    outline:1px solid rgb(255, 51, 0); // define the color of the border invalid inputs 
    }
    border-radius: 5px; // define the border radius(curvature)
    }
